.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3rem;

    background: var(--primary);
    border-bottom: var(--secondary) 2px solid;

    color: var(--accent);

}

.nav-list {
    display: flex;
    justify-content: center;

    width: 100%; 
    
    margin: 0 auto;
    padding: 0 20px;

    list-style: none;
}

.nav-list li {
    max-width: 200px;
    flex: 1;
    position: relative;
    
    text-align: center;

    
    padding: 10px 0;
}

.nav-list a {
    display: block;

    color: var(--accent);
    font-size: 1.5rem;
    text-decoration: none;
    
    padding: 5px 10px;
}

.nav-list a:hover {
        background: darkred;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: stretch;
    }

    /*
    .nav-list li {
        margin-left: 0px;
    }*/
}

.submenu {
    display: none;
    position: absolute;
    background: var(--primary);
    border-top: none;
    border-left: 2px var(--secondary) solid;
    border-right: 2px var(--secondary) solid;
    border-bottom: 2px var(--secondary) solid;
    list-style: none;
    min-width: 200px;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu li {
    margin: 0;
    padding: 5px 10px;
}

.submenu a {
    display: block;
    padding: 8px 15px;
}
